---
import { ViewTransitions } from "astro:transitions";
import "../../style.css";
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>MyTitle</title>
		<meta name="title" content={"MyTitle"} />
		<meta name="description" content={"MyDescription"} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={"MyTitle"} />
		<meta property="og:description" content={"MyDescription"} />
		<meta property="og:image" content={new URL("image-path", Astro.url)} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={"MyTitle"} />
		<meta property="twitter:description" content={"MyDescription"} />
		<meta
			property="twitter:image"
			content={new URL("image-path", Astro.url)}
		/>
		<ViewTransitions />
	</head>

	<body class="bg-black min-h-screen py-20">
		<main class="container mx-auto px-4 sm:px-32 lg:px-64 xl:px-96 flex flex-col gap-4 items-end">
			<slot />
		</main>
	</body>
</html>
